<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apnabazaar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".allCityOption" />
        <activity android:name=".myfolder.paymentorder" />
        <activity android:name=".myfolder.confirmOrder" />
        <activity android:name=".myfolder.bidHistoryDetail" />
        <activity android:name=".auctionfolder.BiddingFuture" />
        <activity android:name=".auctionfolder.BiddingScreen" />
        <activity android:name=".auctionfolder.AuctioneerBiddingScreen" />
        <activity android:name=".layout.YourProduct" />
        <activity android:name=".myfolder.induidual_posts" />
        <activity android:name=".myfolder.update_profile" />
        <activity android:name=".myfolder.delete_user" />
        <activity android:name=".myfolder.change_password" />
        <activity android:name=".about_us" />
        <activity android:name=".contact_us" />
        <activity android:name=".feedback" />
        <activity android:name=".layout.sellproduct" />
        <activity android:name=".myfolder.bidhistory" />
        <activity android:name=".layout.order_history" />
        <activity android:name=".Profile" />
        <activity android:name=".myfolder.register" >

        </activity>
        <activity android:name=".myfolder.MainActivity">

        </activity>
        <activity android:name=".myfolder.login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>